@import '~bootstrap/scss/bootstrap';

.note {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.delete-btn {
  border-radius: 50%;
}

.alert {
  display: flex !important;
  justify-content: space-between;
  align-items: center;
}

.close-alert-btn {
  border-radius: 30%;
  border: none;
  background: none;
  color: rgb(230, 125, 125);
  font-size: 25px;
}